@media only screen and (min-width: 641px) {
  body {
    padding: 20px 10%;
  }
  main {
    margin-top: 40px;
  }
  .extensionsList {
    display: grid;
    gap: 10px;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .categoriesList {
    justify-content: space-between;
  }
}
